body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
    min-height: 100vh;
    font-size: large;
}
nav{
    position: sticky;
    top: 0;
    background-color: #4CAF50;
    color: white;
    grid-area: navbar;
    padding: 1rem;
    
}
.dropdown{
    margin-left: 30%;
}
.dropdown .food{
    background-color: hsl(0, 0%, 80%);
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.dropdown a{
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 20%);
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsla(0, 0%, 100%, 0.85);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover .food{
    background: hsla(0, 0%, 80%, 0.7);
}
.dropdown a:hover{
    background: hsla(0, 0%, 90%, 0.50);
}


aside{
    background-color: hsl(0, 0%, 94%);
    grid-area: sidebar;
    position: sticky;
    top: 54px;
    align-self: start;
    height: calc(100vh - 54px);
}
main{
    background-color: #fff;
    grid-area: main;
}
footer{
    background-color: #333;
    color: white;
    grid-area: footer;
    padding: 1rem;
}



@media(max-width:800px){
    body{
        grid-template-columns: 1fr;
    }
    aside{
        position: fixed;
        width: 300px;
        display: none;
    }
    .show{
        display: block;
    }
}