body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
    min-height: 100vh;
}
nav{
    background-color: #333;
    grid-area: navbar;
}
aside{
    background-color: #f0f0f0;
    grid-area: sidebar;
}
main{
    background-color: #fff;
    grid-area: main;
}
footer{
    background-color: #333;
    grid-area: footer;
}
